<main class="min-h-screen flex flex-col px-4 bg-custom bg-cover bg-center">
    <div class="flex flex-col justify-evenly flex-1">
        <div class="relative  space-y-[-50px]">
            <h1 class="text-[100px] font-semibold">About</h1>
            <h1 class="text-[100px] font-semibold">Me</h1>
            <img src="assets/pixel 6.png" alt="" class="absolute top-30 left-180 rotate-12 w-120 h-auto">
            <img src="assets/xm3.png" alt="" class="headphones absolute top-40 left-80 -rotate-12 w-50 h-auto">
            <img src="assets/cow sweater.png" alt="" class="absolute top-10 left-160 rotate-6 w-40 h-auto">
        </div>
        <div class="flex flex-row flex-1 ">

            <div class="flex py-10 items-end justify-center  w-full">
                <img src="assets/brat.jpg" alt="" class="w-50 h-50 -rotate-3 relative -ml-10">
                <img src="assets/sweetener.png" alt="" class="w-50 h-50 relative -ml-10">
                <img src="assets/positions.jpg" alt="" class="w-50 h-50 rotate-3 relative -ml-10">
            </div>
            <div class="flex px-10  w-full justify-left items-center">
                <h1 class="text-[24px] font-medium">
                    I love coding, I love music
                </h1>
            </div>
        </div>
    </div>
            
            
</main>