<main class="min-h-screen flex flex-col">
    <div class="flex flex-row items-center bg-blue-950 text-white py-10 overflow-hidden">
        <div class="inline-block animate-slide text-lg font-semibold whitespace-nowrap">
            <span class="mx-10">Python</span>
            <span class="mx-10">C/C++</span>
            <span class="mx-10">Javascript</span>
            <span class="mx-10">Typecript</span>
            <span class="mx-10">React</span>
            <span class="mx-10">Flask</span>
            <span class="mx-10">Angular</span>
            <span class="mx-10">Flutter</span>
            
            <span class="mx-10">Python</span>
            <span class="mx-10">C/C++</span>
            <span class="mx-10">Javascript</span>
            <span class="mx-10">Typecript</span>
            <span class="mx-10">React</span>
            <span class="mx-10">Flask</span>
            <span class="mx-10">Angular</span>
            <span class="mx-10">Flutter</span>
        </div>
    </div>

    <div class="bg-blue-950 flex flex-col flex-1 items-center justify-center space-y-4 text-white">
        <h1 class="text-8xl font-light">Jack of all trades </h1>
        <h1 class="text-8xl font-light ">Master of <span class="font-semibold">some</span></h1>
    </div>

    <div class="flex flex-row items-center bg-blue-950 text-white py-10 overflow-hidden">
        <div class="inline-block animate-slide2 text-lg font-semibold whitespace-nowrap">
            <span class="mx-10">MongoDB</span>
            <span class="mx-10">Amazon Web Services</span>
            <span class="mx-10">Heroku</span>
            <span class="mx-10">Github</span>
            <span class="mx-10">Figma</span>
            <span class="mx-10">SQL</span>
            <span class="mx-10">Numpy</span>

            <span class="mx-10">MongoDB</span>
            <span class="mx-10">Amazon Web Services</span>
            <span class="mx-10">Heroku</span>
            <span class="mx-10">Github</span>
            <span class="mx-10">Figma</span>
            <span class="mx-10">SQL</span>
            <span class="mx-10">Numpy</span>

        </div>
    </div>
</main>