<main class="min-h-screen flex flex-col bg-gray-50">

    
    <div class="px-8 py-8 flex flex-row items-center">
        <h1 class="text-6xl font-semibold">Experience</h1>
        <!-- <a href="https://www.linkedin.com/in/qasim-anwar/" target="_blank">
            <button id="floating-button" class="absolute rounded-2xl bg-blue-800 px-4 py-1">
                <span class="font-bold text-lg text-white">HIRE ME</span>
            </button>
        </a> -->
    </div>

    <div class="flex flex-wrap gap-y-8 mt-8 mb-8">

        <div class="max-w-md mx-auto bg-white shadow-lg rounded-2xl overflow-hidden p-6">
            <h2 class="text-2xl font-bold text-gray-900">Research Assistant</h2>
            <p class="text-gray-500 mt-2">Center for Speech and Language Technologies (CSaLT), LUMS Lahore, PK</p>
            <p class="text-gray-400 text-sm">July 2024 - January 2025</p>

            <ul class="list-inside text-gray-600 mt-4 mb-4 space-y-2 text-md">
                <li>Utilized OpenAI’s Whisper to transcribe and process audio files for a medical research project.</li>
                <li>Developed tools for parsing and structuring unstructured medical text using OpenAI’s GPT API.</li>
                <li>Integrated and analyzed outputs from OpenAI’s GPT API to extract structured insights from unstructured medical text.</li>
            </ul>

            <div class="flex flex-row justify-evenly">
                <span class="inline-block bg-blue-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    OpenAI Whisper
                </span>
                <span class="inline-block bg-yellow-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    GPT API
                </span>
                <span class="inline-block bg-green-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    NLP
                </span>
            </div>
        </div>

        <div class="max-w-md mx-auto bg-white shadow-lg rounded-2xl overflow-hidden p-6">
            <h2 class="text-2xl font-bold text-gray-900">Front-End and UI/UX Intern</h2>
            <p class="text-gray-500 mt-2">Intagleo Systems, Lahore, PK</p>
            <p class="text-gray-400 text-sm">June 2024 - August 2024</p>

            <ul class="list-inside text-gray-600 mt-4 mb-4 space-y-2 text-md">
                <li>Conducted comprehensive market research to analyze competitive products and inform feature development for a new HR management platform.</li>
                <li>Redesigned and optimized the user interface and experience in Figma to improve usability.</li>
                <li>Developed a dynamic and responsive product landing page using React and Tailwind CSS, increasing user adoption for the product.</li>
            </ul>

            <div class="flex flex-row justify-evenly">
                <span class="inline-block bg-blue-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    React
                </span>
                <span class="inline-block bg-yellow-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    Tailwind CSS
                </span>
                <span class="inline-block bg-green-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    Figma
                </span>
                <span class="inline-block bg-red-200 text-gray-800 text-xs font-semibold px-2.5 py-1 rounded-md">
                    UI/UX Design
                </span>
            </div>
        </div>
    </div>
    


</main>
